<nav id="sidebarMenu" class="sidebar d-md-block bg-dark text-white collapse" data-simplebar>
    <div class="sidebar-inner px-4 pt-3">
      <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
        <div class="d-flex align-items-center">
          <div class="user-avatar lg-avatar me-4">
            <img src="/static/assets/img/team/profile-picture-1.jpg" class="card-img-top rounded-circle border-white"
              alt="Bonnie Green">
          </div>
          <div class="d-block">
            <h2 class="h6">
              {{ current_user.username }}
            </h2>
            <a href="{{ url_for('base_blueprint.logout') }}" class="btn btn-secondary text-dark btn-xs"><span
                class="me-2"><span class="fas fa-sign-out-alt"></span></span>Sign Out</a>
          </div>
        </div>
        <div class="collapse-close d-md-none">
          <a href="#sidebarMenu" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
            aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation"></a>
        </div>
      </div>
      <ul class="nav flex-column pt-3 pt-md-0">
        <li class="nav-item">
          <a href="/" class="nav-link d-flex align-items-center">
            <span class="sidebar-icon">
              <img src="/static/assets/img/brand/light.svg" height="20" width="20" alt="Volt Logo">
            </span>
            <span class="mt-1 ms-1 sidebar-text">Company XYZ</span>
          </a>
        </li>
        <li class="nav-item {% if 'dashboard' in segment %} active {% endif %}">
          <a href="/dashboard.html" class="nav-link">
            <span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span>
            <span class="sidebar-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-item {% if 'orders' in segment %} active {% endif %}">
          <a href="/orders" class="nav-link">
            <span class="sidebar-icon"><span class="fas fa-hand-holding-usd"></span></span>
            <span class="sidebar-text">Orders</span>
          </a>
        </li>
        <li class="nav-item {% if 'products' in segment %} active {% endif %}">
          <a href="/products" class="nav-link">
            <span class="sidebar-icon"><span class="fas fa-box"></span></span>
            <span class="sidebar-text">Products</span>
          </a>
        </li>
        <li class="nav-item {% if 'inventory' in segment %} active {% endif %}">
          <a href="/inventory" class="nav-link">
            <span class="sidebar-icon"><span class="fas fa-boxes"></span></span>
            <span class="sidebar-text">Inventory</span>
          </a>
        </li>
        <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
        <li class="nav-item">
          <span
            class="nav-link collapsed  d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse" data-bs-target="#submenu-pages-forecasting" aria-expanded="true">
            <span>
              <span class="sidebar-icon"><span class="fab fa-think-peaks"></span></span>
              <span class="sidebar-text">Order Forecasting</span>
            </span>
            <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
          </span>
          <div class="multi-level collapse show" role="list"
            id="submenu-pages-forecasting" aria-expanded="false">
            <ul class="flex-column nav">
              <li class="nav-item {% if 'order-forecasting' in segment %} active {% endif %}">
                <a class="nav-link" href="/order-forecasting">
                  <span class="sidebar-text">Forecast</span>
                </a>
              </li>
              <li class="nav-item {% if 'order-forecasting-accuracy' in segment %} active {% endif %}">
                <a class="nav-link" href="/accuracy-monitoring">
                  <span class="sidebar-text">Accuracy Monitoring</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <span
            class="nav-link collapsed  d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse" data-bs-target="#submenu-pages" aria-expanded="true">
            <span>
              <span class="sidebar-icon"><span class="fas fa-brain"></span></span>
              <span class="sidebar-text">Data Discovery</span>
            </span>
            <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
          </span>
          <div class="multi-level collapse show" role="list"
            id="submenu-pages" aria-expanded="false">
            <ul class="flex-column nav">
              <li class="nav-item {% if 'analysis-mba' in segment %} active {% endif %}">
                <a class="nav-link" href="#">
                  <span class="sidebar-text">Market Basket Analysis</span>
                </a>
              </li>
              <li class="nav-item {% if 'analysis-lifecycle' in segment %} active {% endif %}">
                <a class="nav-link" href="#">
                  <span class="sidebar-text">Product Lifecycle</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  