{% extends "layouts/base.html" %}

{% block title %} Order Forecasting {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
    <p class="mb-0">Continually monitor accuracy as more data is gathered.</p>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-12 col-sm-6 col-xl-4 mb-4">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <div class="row d-block d-xl-flex align-items-center">
          <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
            <button type="button" class="icon icon-shape icon-md icon-shape-purple rounded mr-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Max absolute difference">
              <span class="far fa-plus-square"></span>
            </button>
          </div>
          <div class="col-12 col-xl-7 px-xl-0">
            <div class="d-none d-sm-block">
              <h2 class="h5">Best by MaxE</h2>
              <h3 class="mb-1">{{ recommended['DIFF']['model'] }}</h3>
            </div>
            <small>14 / 20 products</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-4 mb-4">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <div class="row d-block d-xl-flex align-items-center">
          <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
            <button type="button" class="icon icon-shape icon-md icon-shape-secondary rounded mr-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Root Mean Square Error">
              <span class="fas fa-calculator"></span>
            </button>
          </div>
          <div class="col-12 col-xl-7 px-xl-0">
            <div class="d-none d-sm-block">
              <h2 class="h5">Best by RMSE</h2>
              <h3 class="mb-1">{{ recommended['RMSE']['model'] }}</h3>
            </div>
            <small>15 / 20 products</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-4 mb-4">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <div class="row d-block d-xl-flex align-items-center">
          <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
            <button type="button" class="icon icon-shape icon-md icon-shape-success rounded mr-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Calculated by (RMSE - Diff)">
              <span class="fas fa-check-double"></span>
            </button>
          </div>
          <div class="col-12 col-xl-7 px-xl-0">
            <div class="d-none d-sm-block">
              <h2 class="h5">Recommendation</h2>
              <h3 class="mb-1">{{ recommended['OVERALL']['model'] }}</h3>
            </div>
            <small>&nbsp;</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card card-body shadow-sm table-wrapper table-responsive table-wrapper-accuracy">
  <table class="table table-hover">
    <thead>
      <tr>
        <th rowspan="2">SKU</th>
        <th colspan="5">MaxE</th>
        <th colspan="5">RMSE</th>
      </tr>
      <tr>
        <th>Exp<br/>Smoothing</th>
        <th>ARIMA</th>
        <th>SARIMA</th>
        <th>Rolling<br/>MA</th>
        <th>LSTM</th>
        <th>Exp<br/>Smoothing</th>
        <th>ARIMA</th>
        <th>SARIMA</th>
        <th>Rolling<br/>MA</th>
        <th>LSTM</th>
      </tr>
    </thead>
    <tbody>
      {% for compare in compareForecasts %}
        {% set maxe_values = '' %}
        {% set maxe_values = compare.ExpSm_maxe|int ~ "," ~ compare.ARIMA_maxe ~ "," ~ compare.SARIMA_maxe ~ "," ~ compare.MA_maxe ~ "," ~ compare.LSTM_maxe %}
        {% set maxe_values = maxe_values.split(",")|map('int')|list %}
        {% set best_maxe = maxe_values | sort | first | string %}
        {% set rmse_values = '' %}
        {% set rmse_values = compare.ExpSm_rmse|int ~ "," ~ compare.ARIMA_rmse ~ "," ~ compare.SARIMA_rmse ~ "," ~ compare.MA_rmse ~ "," ~ compare.LSTM_rmse %}
        {% set rmse_values = rmse_values.split(",")|map('float')|list %}
        {% set best_rmse = rmse_values | sort | first | string %}
        <tr>
          <td><a href="#" class="fw-bold">{{ compare.item }}</a></td>
          <td><a href="#" {% if compare.ExpSm_maxe == best_maxe %}class="text-success fw-bold"{% endif %}>{{ compare.ExpSm_maxe }}</a></td>
          <td><a href="#" {% if compare.ARIMA_maxe == best_maxe %}class="text-success fw-bold"{% endif %}>{{ compare.ARIMA_maxe }}</a></td>
          <td><a href="#" {% if compare.SARIMA_maxe == best_maxe %}class="text-success fw-bold"{% endif %}>{{ compare.SARIMA_maxe }}</a></td>
          <td><a href="#" {% if compare.MA_maxe == best_maxe %}class="text-success fw-bold"{% endif %}>{{ compare.MA_maxe }}</a></td>
          <td><a href="#" {% if compare.LSTM_maxe == best_maxe %}class="text-success fw-bold"{% endif %}>{{ compare.LSTM_maxe }}</a></td>
          <td><a href="#" {% if compare.ExpSm_rmse == best_rmse %}class="text-success fw-bold"{% endif %}>{{ compare.ExpSm_rmse }}</a></td>
          <td><a href="#" {% if compare.ARIMA_rmse == best_rmse %}class="text-success fw-bold"{% endif %}>{{ compare.ARIMA_rmse }}</a></td>
          <td><a href="#" {% if compare.SARIMA_rmse == best_rmse %}class="text-success fw-bold"{% endif %}>{{ compare.SARIMA_rmse }}</a></td>
          <td><a href="#" {% if compare.MA_rmse == best_rmse %}class="text-success fw-bold"{% endif %}>{{ compare.MA_rmse }}</a></td>
          <td><a href="#" {% if compare.LSTM_rmse == best_rmse %}class="text-success fw-bold"{% endif %}>{{ compare.LSTM_rmse }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}