{% extends "layouts/base.html" %}

{% block title %} Products {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
    <p class="mb-0">Your web analytics dashboard template.</p>
  </div>
</div>
<div class="card card-body shadow-sm table-wrapper table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>SKU</th>
        <th>Title</th>
        <th>Category</th>
        <th>Tags</th>
        <th>Price</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products.items %}
      <tr>
        <td><a href="#" class="fw-bold">{{ product.sku }}</a></td>
        <td><span class="fw-normal">{{ product.title }}</span></td>
        <td><span class="fw-normal">{{ product.category }}</span></td>
        <td><span class="fw-normal">{{ product.tags }}</span></td>
        <td><span class="fw-normal">{{ product.price_usd }}</span></td>
        <td><span class="fw-normal">{{ product.created_at }}</span></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


  <!-- Pagination Links-->
  <div class="card-footer px-3 bproduct-0 d-flex align-items-center justify-content-between">
    <nav aria-label="Page navigation example">
      <ul class="pagination mb-0">
        <li class="page-item">
          <a class="page-link"
            href="{{ url_for('home_blueprint.products', page=products.prev_num) }}"
            {% if products.page == 1 %}disabled{% endif %}>
            Next
          </a>
        </li>
        {% for page_num in products.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if page_num %}
          <!-- Check for the active page and set the link to "Active"-->
            {% if products.page == page_num %}
              <li class="page-item active">
                <a class="page-link" href="{{ url_for('home_blueprint.products', page=page_num) }}">{{ page_num }}</a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="{{ url_for('home_blueprint.products', page=page_num) }}">{{ page_num }}</a>
              </li>
            {% endif %}
          {% else %}
            <li class="page-item"><div class="page-link">...</div></li>
          {% endif %}
        {% endfor %}
        <li class="page-item">
          <a class="page-link"
            href="{{ url_for('home_blueprint.products', page=products.next_num) }}"
            {% if products.page == products.pages %}disabled{% endif %}>
            Next
          </a>
        </li>
      </ul>
    </nav>
    <div class="fw-bold small d-none d-lg-block">Total Records <b>{{ products.total }}</b>, Showing page <b>{{ products.page }}</b> out of <b>{{ products.pages }}</b> pages</div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}