{% extends "layouts/base.html" %}

{% block title %} Smart Procurement {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <h2 class="h3">Smart Procurement</h2>
          <p class="mb-0">Your web analytics dashboard template.</p>
      </div>
      <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-primary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-primary">Export</button>
          </div>
      </div>
  </div>
  <div class="table-settings mb-4">
      <div class="row align-items-center">
        <div class="col-md-6 mb-3">
            <label for="start_date">Start Date</label>
            <div class="input-group">
                <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                <select class="form-select mb-0" id="startDate" aria-label="Start Date">
                </select>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="forecast_model">Model</label>
            <select class="form-select mb-0" id="forecast_model" aria-label="Forecast model">
                <option value="1">Recommended</option>
                <option value="2">ARIMA</option>
                <option value="3">SARIMA</option>
                <option value="4">LSTM</option>
                <option value="5">Rolling MA</option>
            </select>
        </div>
    </div>
  </div>
  <div>
    <canvas id="myChart" width="400" height="150"></canvas>
  </div>
  <div class="card card-body shadow-sm table-wrapper table-responsive table-wrapper-forecast">
    <div class="wrapper">
        <table id="myTable" class="table table-hover">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
  </div>
  <script>
    const colors = ['#e6194b', '#3cb44b', '#ffe119', '#4363d8', '#f58231', '#911eb4', '#46f0f0', '#f032e6', '#bcf60c', '#fabebe', '#008080', '#e6beff', '#9a6324', '#fffac8', '#800000', '#aaffc3', '#808000', '#ffd8b1', '#000075', '#808080', '#ffffff', '#000000'];
    
    function getSkuByDate(orderproducts, skus, dates) {
        const skuQtyByDate = skus.reduce((acc, sku) => {
            const skuData = _.filter(orderproducts, { sku: sku })
            const dateQty = dates.map((date) => {
                const skuDate = _.find(skuData, { date: date })
                if (skuDate) {
                    return skuDate.qty;
                }
                return 0;
            })
            acc[sku] = dateQty;
            return acc;
        }, {});

        return skuQtyByDate;
    }

    function getSkuForecastByDate(forecasts, skus) {
        const dates = ['m+1', 'm+2', 'm+3'];
        const forecastQtyByDate = skus.reduce((acc, sku) => {
            const skuData = _.filter(forecasts, { item: sku })
            const dateQty = dates.map((date) => {
                const skuDate = _.find(skuData, { month: date })
                if (skuDate) {
                    return skuDate.predict;
                }
                return 0;
            })
            acc[sku] = dateQty;
            return acc;
        }, {});

        return forecastQtyByDate;
    }

    function plotData(myChart, skuOrders, dates, forecasts) {
        const actual = Object.keys(skuOrders).map((s, index) => {
            return {
                label: s,
                data: skuOrders[s],
                fill: false,
                borderColor: colors[index],
                tension: 0.1
            }
        })

        const forecast = Object.keys(forecasts).map((s, index) => {
            return {
                label: `${s} (Forecast)`,
                data: [...(_.times(12, _.constant(null))), ...forecasts[s]],
                fill: false,
                borderColor: colors[index],
                borderDash: [5],
                lineWidth: 5,
                tension: 0.1,
                pointStyle: 'star'
            }
        })

        const data = {
            labels: dates,
            datasets: [...actual, ...forecast]
        };

        var options = {
            plugins: {
                legend: {
                    display: false
                }
            }
        }

        var myLineChart = new Chart(myChart, {
            type: 'line',
            data: data,
            options: options
        });

        window.chart = myLineChart;
        return myLineChart;
    }

    function populateTable(table, skuByDate, dates, forecastDates) {
        const headers = ['SKU', ...dates, ...forecastDates];
        const headersHtml = headers.reduce((acc, curr, index) => {
           if (index === 0) {
                acc += `<th class="sticky-col sku-col">${curr}</th>`;
           } else {
                acc += `<th>${curr}</th>`;
           }
          
           return acc;
        }, '')

        const rowsHtml = Object.keys(skuByDate).reduce((acc, curr) => {
            const forecast = 0; // todo;
            acc += `
                <tr>
                    <td class="sticky-col sku-col"><a href="#" class="fw-bold">${curr}</a></td>
                    ${(skuByDate[curr]).map(d => `<td><span class="fw-normal">${d}</td>`).join('')}
                </tr>`.replace(/\s+/g, ' ');
            return acc;
        }, '');

        table.querySelector('thead tr').innerHTML = headersHtml;
        table.querySelector('tbody').innerHTML = rowsHtml;
    }

    function initDatePicker(dates, currentDate) {
        const datePicker = document.getElementById('startDate');
        datePicker.innerHTML = _.map(dates, (d) => `<option value="${d}">${d}</option>`).join('');
        datePicker.value = currentDate;
    }

    function updateData(orderproducts, skus, dates, initDate, currChart, forecasts) {
        const myChart = document.getElementById('myChart');
        const myTable = document.getElementById('myTable');

        const filteredDates = _.filter(dates, d => (d >= initDate));
        const skuByDate = getSkuByDate(orderproducts, skus, filteredDates);
        const skuForecastByDate = getSkuForecastByDate(forecasts, skus);
        const skuData = Object.keys(skuByDate).reduce((acc, curr) => {
            acc[curr] = [...skuByDate[curr], ...skuForecastByDate[curr]]
            return acc;
        }, {})

        const forecastDates = ['2021-01', '2021-02', '2021-03']

        if (currChart) { currChart.destroy() }
        const chart = plotData(myChart, skuData, filteredDates, skuForecastByDate);
        populateTable(myTable, skuData, filteredDates, forecastDates);

        return chart;
    }

    window.addEventListener('load', function() {
        const orderproducts = {{ orderproducts | tojson }}
        const forecasts = {{ forecasts | tojson }}

        const skus = _.sortBy(_.uniq(_.map(orderproducts, 'sku')));
        const dates = _.sortBy(_.uniq(_.map(orderproducts, 'date')));
        const initDate = '2020-01';
        let currChart = null;
        initDatePicker(dates, '2020-01');
        currChart = updateData(orderproducts, skus, dates, initDate, currChart, forecasts['arima'])
        
        const startDate = document.getElementById('startDate');
        startDate.addEventListener('change', function(e) {
            currChart = updateData(orderproducts, skus, dates, e.target.value, currChart, forecasts['arima'])
        });
    });
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
