{% extends "layouts/base.html" %}

{% block title %} Smart Procurement {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <p class="mb-0">Your web analytics dashboard template.</p>
      </div>
  </div>
  <div class="table-settings mb-4">
      <div class="row align-items-center">
        <div class="col-md-6 mb-3">
            <label for="start_date">Start Date</label>
            <div class="input-group">
                <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                <select class="form-select mb-0" id="startDate" aria-label="Start Date">
                </select>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="forecast_model">Model</label>
            <select class="form-select mb-0" id="forecast_model" aria-label="Forecast model">
                <option value="1">Recommended</option>
                <option value="2">ARIMA</option>
                <option value="3">SARIMA</option>
                <option value="4">LSTM</option>
                <option value="5">Rolling MA</option>
            </select>
        </div>
    </div>
  </div>
  <div>
    <canvas id="myChart" width="400" height="150"></canvas>
  </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-primary">Export</button>
            </div>
        </div>
    </div>
  <div class="card card-body shadow-sm table-wrapper table-responsive table-wrapper-forecast">
    <div class="wrapper">
        <table id="myTable" class="table table-hover">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
  </div>
  <script>
    const colors = ['#e6194b', '#3cb44b', '#ffe119', '#4363d8', '#f58231', '#911eb4', '#46f0f0', '#f032e6', '#bcf60c', '#fabebe', '#008080', '#e6beff', '#9a6324', '#fffac8', '#800000', '#aaffc3', '#808000', '#ffd8b1', '#000075', '#808080', '#ffffff', '#000000'];
    
    function getSkuByDate(orderproducts, skus, dates) {
        const skuQtyByDate = skus.reduce((acc, sku) => {
            const skuData = _.filter(orderproducts, { sku: sku })
            const dateQty = dates.map((date) => {
                const skuDate = _.find(skuData, { date: date })
                if (skuDate) {
                    return skuDate.qty;
                }
                return 0;
            })
            acc[sku] = dateQty;
            return acc;
        }, {});

        return skuQtyByDate;
    }

    function getSkuForecastByDate(forecasts, skus) {
        const dates = ['m+1', 'm+2', 'm+3'];
        const forecastQtyByDate = skus.reduce((acc, sku) => {
            const skuData = _.filter(forecasts, { item: sku })
            const dateQty = dates.map((date) => {
                const skuDate = _.find(skuData, { month: date })
                if (skuDate) {
                    return skuDate.predict;
                }
                return 0;
            })
            acc[sku] = dateQty;
            return acc;
        }, {});

        return forecastQtyByDate;
    }

    function plotData(myChart, skuOrders, dates, forecasts) {
        const actual = Object.keys(skuOrders).map((s, index) => {
            return {
                label: s,
                data: skuOrders[s],
                fill: false,
                borderColor: colors[index],
                tension: 0.1,
                hidden: !window.chartState[index],
            }
        })

        const forecast = Object.keys(forecasts).map((s, index) => {
            return {
                label: `${s} (Forecast)`,
                data: [...(_.times((dates.length-3), _.constant(null))), ...forecasts[s]],
                fill: false,
                borderColor: colors[index],
                borderDash: [5],
                lineWidth: 5,
                tension: 0.1,
                pointStyle: 'star',
                hidden: !window.chartState[index % Object.keys(forecasts).length],
            }
        })

        const data = {
            labels: dates,
            datasets: [...actual, ...forecast]
        };

        var options = {
            plugins: {
                legend: {
                    display: false
                }
            }
        }

        var myLineChart = new Chart(myChart, {
            type: 'line',
            data: data,
            options: options
        });

        window.chart = myLineChart;
        return myLineChart;
    }

    function populateTable(table, skuByDate, dates, forecastDates) {
        const headers = [...dates, ...forecastDates];
        const headersHtml = headers.reduce((acc, curr, index) => {
            if (index < dates.length) {
                acc += `<th>${curr}</th>`;
            } else {
                acc += `<th class="sticky-col forecast-col forecast-col--${index - dates.length}">${curr}</th>`;
            }
            
            return acc;
        }, '');

        const headersWithLabelHtml = `
            <tr>
                <th rowspan="2" colspan="1" class="sticky-col sku-col">
                    <input class="form-check-input label-toggle label-toggle-all" type="checkbox" value="" onclick="handleCheckAll(this)">
                    SKU
                </th>
                <th rowspan="1" colspan="${dates.length}">
                    Orders
                </th>
                <th rowspan="1" colspan="${forecastDates.length}" class="sticky-col forecast-header-col">
                    Forecast
                </th>
            </tr>
                ${headersHtml}
            <tr>
            </tr>`;

        const rowsHtml = Object.keys(skuByDate).reduce((acc, curr, index) => {
            acc += `
                <tr>
                    <td class="sticky-col sku-col fw-bold">
                        <input class="form-check-input label-toggle" type="checkbox" value="" onclick="handleCheckboxClick(this, ${index})" ${window.chartState[index] ? 'checked' : ''}>
                        ${curr}
                    </td>
                    ${(skuByDate[curr]).map((d, index) => {
                        if (index < dates.length) {
                            return `<td><span class="fw-normal">${d}</td>`;
                        }
                        return `<td class="sticky-col forecast-col forecast-col--${index - dates.length}"><span>${d}</td>`;
                    }).join('')}
                </tr>`.replace(/\s+/g, ' ');
            return acc;
        }, '');

        table.querySelector('thead').innerHTML = headersWithLabelHtml;
        table.querySelector('tbody').innerHTML = rowsHtml;
    }

    function handleCheckboxClick(checkbox, index, skipUpdate) {
        let checkboxStatus = checkbox.checked;

        // Set visibility of orders graph
        window.chart.setDatasetVisibility(index, checkboxStatus);

        // Set visibility of forecast graph
        window.chart.setDatasetVisibility(index + 20, checkboxStatus);

        // Set color of checkbox
        if (checkboxStatus) {
            checkbox.style.backgroundColor = colors[index];
            checkbox.style.borderColor = colors[index];
        } else {
            checkbox.style.backgroundColor = '';
            checkbox.style.borderColor = '';
        }

        // Set global status
        window.chartState[index] = checkboxStatus;

        if (!skipUpdate) {
            
            window.chart.update();
        }
    }

    function handleCheckAll(checkbox) {
        const checkboxes = document.querySelectorAll('.form-check-input:not(.label-toggle-all)');
        const checkboxStatus = checkbox.checked;
        const skipUpdate = true;
        _.forEach(checkboxes, (checkbox, index) => {
            checkbox.checked = checkboxStatus;
            handleCheckboxClick(checkbox, index, skipUpdate);
        })

        window.chart.update();
    }

    function initDatePicker(dates, currentDate) {
        const datePicker = document.getElementById('startDate');
        datePicker.innerHTML = _.map(dates, (d) => `<option value="${d}">${d}</option>`).join('');
        datePicker.value = currentDate;
    }

    function updateData(orderproducts, skus, dates, initDate, currChart, forecasts) {
        const myChart = document.getElementById('myChart');
        const myTable = document.getElementById('myTable');

        const filteredDates = _.filter(dates, d => (d >= initDate));
        const skuByDate = getSkuByDate(orderproducts, skus, filteredDates);
        const skuForecastByDate = getSkuForecastByDate(forecasts, skus);
        const skuData = Object.keys(skuByDate).reduce((acc, curr) => {
            acc[curr] = [...skuByDate[curr], ...skuForecastByDate[curr]]
            return acc;
        }, {})

        const forecastDates = ['2021-01', '2021-02', '2021-03']

        if (currChart) { currChart.destroy() }
        const chart = plotData(myChart, skuData, filteredDates, skuForecastByDate);
        populateTable(myTable, skuData, filteredDates, forecastDates);

        return chart;
    }

    window.addEventListener('load', function() {
        const orderproducts = {{ orderproducts | tojson }}
        const forecasts = {{ forecasts | tojson }}

        const skus = _.sortBy(_.uniq(_.map(orderproducts, 'sku')));
        const dates = _.sortBy(_.uniq(_.map(orderproducts, 'date')));
        const initDate = '2020-01';
        let currChart = null;

        // Init
        initDatePicker(dates, '2020-01');
        window.chartState = _.times(skus.length, _.constant(false));
        window.chartState[0] = true;
        currChart = updateData(orderproducts, skus, dates, initDate, currChart, forecasts['arima'])
        
        const startDate = document.getElementById('startDate');
        startDate.addEventListener('change', function(e) {
            currChart = updateData(orderproducts, skus, dates, e.target.value, currChart, forecasts['arima'])
        });
    });
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
