.table-wrapper-forecast {
    overflow: unset;
}

td.sticky-col,
th.sticky-col {
    position: sticky;
    background-color: white;
}

.sku-col {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    left: 0px;
}

.wrapper {
    overflow-x: auto;
    position: relative;
    white-space: nowrap;
}

.label-toggle {
    margin-right: 10px;
}

#navbarSupportedContent {
    border-bottom: 1px solid #D1D5DB;
}